@page "/"
@inject HttpClient Http

<PageTitle>Azure IP Range Explorer</PageTitle>

<h1>Azure IP Range Explorer</h1>

<p>View Azure IP ranges of Azure by region and service:</p>

<div class="mb-3">
    <label for="service" class="form-label">Service:</label>
    <select @bind="SelectedService" class="form-select" id="service">
        <option value="" selected="selected">Select a service</option>
        @foreach (string service in Services)
        {
            <option value="@service">@service</option>
        }
    </select>
</div>

<div class="mb-3">
    <label for="region" class="form-label">Region:</label>
    <select @bind="SelectedRegion" class="form-select" disabled="@(DisableRegionFilter)" id="region">
        <option value="" selected="selected">Select a region</option>
        @foreach (string region in Regions)
        {
            <option value="@region">@region</option>
        }
    </select>
</div>

@if (ranges == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Service</th>
            <th>Region</th>
        </tr>
        </thead>
        <tbody>
        @if (SelectedRange != null) 
        {
            <tr>
                <td>@SelectedRange.Properties.SystemService</td>
                <td>@SelectedRange.Properties.Region</td>
            </tr>
            <tr>
                <td colspan="2">
                    @foreach (string addressPrefix in SelectedRange.Properties.AddressPrefixes)
                    {
                        @addressPrefix<br/>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}